:root {
  --white: #ffffff;
  --black: #12143f;
  --text: #434343;
  --gray: #373737;
  --primary: #c0bfc9;
  --red: #fb3812;
  --brown: #835d13;
  --orange: #fa3910;
}

@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Medium.ttf");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--brown);
}

html::-webkit-scrollbar-thumb {
  background-color: #121212;
}

body {
  min-width: 330px;
}

body.active {
  overflow-y: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
}
.header .container {
  overflow-x: hidden;
}
.header::before {
  content: "";
  position: absolute;
  width: calc((100% - 1200px) / 2 - 50px);
  z-index: 3;
  left: -50px;
  top: 0;
  bottom: 0;
  height: 100%;
  background-image: url("../images/product.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__left-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
  color: var(--text);
  max-width: 115px;
}
.header-logo {
  width: 155px;
  height: 60px;
}
.header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__contact {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.header__contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.header__contact-phone {
  font-family: Noto;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: var(--text);
}
.header__contact-schedule {
  font-family: Noto;
  font-size: 8px;
  font-weight: 300;
  line-height: 11px;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__social-link {
  width: 54px;
  height: 34px;
}
.header__social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .nav__list {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header .nav__list-link {
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  color: var(--text);
}
.header .nav__list-item {
  transition: 0.3s all;
}
.header .nav__list-item:hover {
  transform: translateY(-4px);
}
.header__slider {
  width: calc(100% - 100px);
}
.header__slider-title {
  font-size: 100px;
  font-weight: 200;
  line-height: 136px;
  text-align: left;
  color: var(--black);
}
.header__slider-subtitle {
  font-size: 64px;
  font-weight: 200;
  line-height: 87px;
  text-align: left;
  color: var(--red);
}
.header .swiper {
  margin-top: 10px;
  height: 250px;
  width: 100%;
  overflow: visible;
}
.header .swiper::before {
  content: "";
  bottom: 0;
  right: -150px;
  position: absolute;
  background-image: url("../images/png/shadow.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  z-index: 3;
}
.header .swiper-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .swiper .swiper-button-prev {
  display: none;
}
.header .swiper .swiper-button-next {
  width: 70px;
  height: 60px;
  right: -100px;
}
.header .swiper .swiper-button-next::after {
  content: "";
  width: 70px;
  height: 60px;
  background-image: url(../images/png/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main__bottom {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.main__bottom-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main__bottom-img {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__bottom-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__bottom-text {
  font-size: 8px;
  font-weight: 300;
  line-height: 8px;
  color: var(--text);
}

.btn {
  padding: 24px 38px;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.135em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn::before {
  z-index: 2;
  background: linear-gradient(68.92deg, #fcd384 36%, #ffedc7 75%, #fff6d6 100%);
}
.btn::after {
  z-index: 1;
  bottom: -3px;
  background: linear-gradient(64.11deg, #e1ba6f 66.63%, #fff6d6 100%);
}
.btn-text {
  z-index: 2;
}

.products__list {
  display: flex;
  gap: 35px;
  align-items: flex-start;
}
.products__list-item {
  background-color: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1019607843);
}
.products .item {
  display: flex;
  flex-direction: column;
}
.products .item-img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .item-title {
  font-family: Noto;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 15px;
}
.products .item-line {
  width: 100%;
  height: 2px;
  background: radial-gradient(210.08% 3714.68% at -4.11% -56.85%, #fb3812 0%, #12143f 63.43%, #c0bfc9 100%);
  opacity: 0.1;
}
.products .item__link {
  display: flex;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
}
@media (min-width: 1024px) {
  .products .item__link:hover .item__link-title {
    transform: translateX(10px);
  }
  .products .item__link:hover .item__link-arrow {
    transform: translateX(10px);
  }
}
.products .item__link-arrow {
  transition: 0.3s all;
  width: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .item__link-title {
  transition: 0.3s all;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.135em;
  color: var(--brown);
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-title {
  font-size: 64px;
  font-weight: 200;
  color: var(--black);
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  gap: 20px;
  border: 1px solid var(--orange);
  -o-border-image: linear-gradient(to right, rgba(250, 57, 16, 0) 40%, #fa3910 70%);
     border-image: linear-gradient(to right, rgba(250, 57, 16, 0) 40%, #fa3910 70%);
  border-image-slice: 1;
  padding: 10px;
}
.about__box {
  border: 1px solid var(--orange);
  background: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  width: 378px;
  height: 303px;
}
.about__box-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about__box-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.about__box-img {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__box-text {
  font-size: 8px;
  font-weight: 300;
  line-height: 8px;
  color: var(--text);
}
.about__box-image {
  position: relative;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box-image img {
  position: absolute;
}
.about__box-image .first {
  transform: translate(30px, -20px) scale(1.2);
}
.about__box-image .second {
  transform: translate(-10px, -60px) scale(1.2);
}
.about-features {
  width: calc(100% - 378px - 20px);
  display: flex;
  justify-content: center;
}
.about .features__list {
  display: flex;
  gap: 110px;
  align-items: flex-end;
}
.about .features__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .features__item-value {
  color: var(--red);
  font-size: 64px;
  font-weight: 200;
}
.about .features__item-title {
  color: var(--brown);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.category {
  padding-bottom: 50px;
  overflow-x: hidden;
}
.category-title {
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
}
.category-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #fb3812 35%, #12143f 73.43%, #c0bfc9 100%);
}
.category-subtitle {
  font-size: 64px;
  font-weight: 200;
  text-align: center;
  color: var(--red);
  margin-top: 50px;
}
.category .container {
  max-width: 1416px;
  margin: auto;
  position: relative;
}
.category-slider {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 1230px;
  padding: 0 15px;
}
.category-slider .swiper {
  width: 100%;
  overflow: visible;
}
.category-slider .swiper-slide {
  background: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-slider .swiper-button-next2, .category-slider .swiper-button-prev2 {
  width: 70px;
  height: 61px;
}
.category-slider .swiper-button-next2::after, .category-slider .swiper-button-prev2::after {
  width: 70px;
  height: 61px;
  content: "";
  background-image: url("../images/png/arrow.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.category-slider .swiper-button-prev2::after {
  transform: rotate(-180deg);
}
.category .slider__buttons {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.category .slider__buttons-left, .category .slider__buttons-right {
  width: 70px;
  height: 61px;
}
.category .slider__buttons-left img, .category .slider__buttons-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category .slider__buttons-left {
  transform: rotate(-180deg);
}
.category__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category__slide-img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__slide-title {
  font-family: Noto;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 15px;
}
.category__slide-line {
  width: 100%;
  height: 2px;
  background: radial-gradient(210.08% 3714.68% at -4.11% -56.85%, #fb3812 0%, #12143f 63.43%, #c0bfc9 100%);
  opacity: 0.1;
}
.category__link {
  display: flex;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
}
@media (min-width: 1024px) {
  .category__link:hover .category__link-title {
    transform: translateX(10px);
  }
  .category__link:hover .category__link-arrow {
    transform: translateX(10px);
  }
}
.category__link-arrow {
  transition: 0.3s all;
  width: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__link-title {
  transition: 0.3s all;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.135em;
  color: var(--brown);
}

.footer {
  background-color: #121212;
  padding: 120px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
}
.footer-title {
  color: var(--white);
  font-size: 45px;
  font-weight: 200;
}
.footer-subtitle {
  color: var(--white);
  font-size: 15px;
  font-weight: 200;
  line-height: 28px;
  margin-top: 25px;
  max-width: 400px;
}
.footer__btn {
  margin-top: 65px;
  width: 100%;
  max-width: 400px;
  padding: 33px 0;
  color: var(--brown);
  text-align: center;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 10px 30px 5px;
}
.footer__btn-text {
  z-index: 2;
}
.footer__btn::before, .footer__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__btn::before {
  z-index: 2;
  height: 100%;
  background: linear-gradient(69deg, #fcd384 36.44%, #ffedc7 61.13%, #fff6d6 79.51%);
}
.footer__btn::after {
  bottom: -5px;
  z-index: 1;
  background: linear-gradient(64.11deg, #e1ba6f 80%, #fff6d6 100%);
}
.footer-img {
  width: 350px;
  position: relative;
}
.footer-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 3;
}
.footer-img::before, .footer-img::after {
  content: "";
  position: absolute;
}
.footer-img::before {
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
  background: #fb3812;
  border-radius: 50%;
  filter: blur(100px);
}
.footer-img::after {
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 258px;
  background: #000;
  filter: blur(25px);
  width: 258px;
  height: 39px;
}/*# sourceMappingURL=style.css.map */