:root {
  --white: #ffffff;
  --black: #12143f;
  --text: #434343;
  --gray: #373737;
  --primary: #c0bfc9;
  --red: #fb3812;
  --brown: #835d13;
  --orange: #fa3910;
}

@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Medium.ttf");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--brown);
}

html::-webkit-scrollbar-thumb {
  background-color: #121212;
}

body {
  min-width: 330px;
}

body.active {
  overflow-y: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 576px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  position: relative;
  width: 100%;
}
.header .container {
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  width: calc((100% - 1200px) / 2);
  z-index: 3;
  left: -50px;
  top: 0;
  bottom: 0;
  height: 100%;
  background-image: url("../images/product.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 33.3333333333%;
}
@media (max-width: 1100px) {
  .header__left {
    width: auto;
  }
}
@media (max-width: 576px) {
  .header__left {
    gap: 15px;
  }
}
.header__left-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
  color: var(--text);
  max-width: 115px;
}
@media (max-width: 576px) {
  .header__left-text {
    font-size: 10px;
    max-width: 85px;
  }
}
.header-logo {
  width: 155px;
  height: 60px;
}
@media (max-width: 576px) {
  .header-logo {
    width: 110px;
  }
}
.header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__contact {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
@media (max-width: 1100px) {
  .header__contact {
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
}
.header__contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
@media (max-width: 1100px) {
  .header__contact-box {
    align-items: center;
    gap: 8px;
  }
}
.header__contact-phone {
  font-family: Noto;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: var(--text);
}
.header__contact-schedule {
  font-family: Noto;
  font-size: 8px;
  font-weight: 300;
  line-height: 11px;
}
@media (max-width: 1100px) {
  .header__contact-schedule {
    font-size: 10px;
  }
}
.header__social {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__social-link {
  width: 54px;
  height: 34px;
}
.header__social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1100px) {
  .header .nav {
    width: 100%;
  }
}
.header .nav__list {
  display: flex;
  align-items: center;
  gap: 45px;
}
@media (max-width: 1100px) {
  .header .nav__list {
    flex-direction: column;
    gap: 30px;
    padding: 0 25px;
  }
}
.header .nav__list-link {
  font-size: 13px;
  font-weight: 300;
  display: block;
  color: var(--text);
}
@media (max-width: 1100px) {
  .header .nav__list-link {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.header .nav__list-item {
  transition: 0.3s all;
}
@media (min-width: 1101px) {
  .header .nav__list-item:hover {
    transform: translateY(-4px);
  }
}
@media (max-width: 1100px) {
  .header .nav__list-item {
    width: 100%;
  }
}
.header .nav__exit {
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  padding-right: 20px;
  display: none;
}
@media (max-width: 1100px) {
  .header .nav__exit {
    display: flex;
  }
}
.header .nav__exit-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 51;
  width: 35px;
  height: 35px;
}
.header .nav__exit-btn::before, .header .nav__exit-btn::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  border-radius: 8px;
  background-color: var(--black);
}
.header .nav__exit-btn::before {
  transform: rotate(45deg);
  top: 50%;
}
.header .nav__exit-btn::after {
  transform: rotate(-45deg);
  top: 50%;
}
.header .nav__open {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .header .nav__open {
    display: flex;
  }
}
.header .nav__open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav__open-btn .btn-elem {
  position: relative;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background: var(--black);
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}
.header .nav__open-btn .btn-elem::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  top: -9px;
  background: var(--black);
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}
.header .nav__open-btn .btn-elem::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  top: 9px;
  background: var(--black);
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}
.header .nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66.6666666667%;
  transition: 0.4s all;
  position: relative;
  z-index: 10;
}
@media (max-width: 1100px) {
  .header .nav__menu {
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    top: 0;
    height: 100%;
    max-width: 400px;
    width: 100%;
    z-index: 11;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    background: var(--white);
    border-right: 1px solid var(--primary);
  }
}
.header .nav__menu.active {
  transform: translateX(0);
}
@media (max-width: 1100px) {
  .header__slider {
    margin-top: 40px;
  }
}
.header__slider-title {
  font-size: 90px;
  font-weight: 200;
  line-height: 136px;
  text-align: left;
  color: var(--black);
}
@media (max-width: 1100px) {
  .header__slider-title {
    font-size: 64px;
    line-height: 86px;
  }
}
@media (max-width: 768px) {
  .header__slider-title {
    font-size: 38px;
    line-height: 44px;
  }
}
@media (max-width: 480px) {
  .header__slider-title {
    font-size: 28px;
    line-height: 32px;
  }
}
.header__slider-subtitle {
  font-size: 60px;
  font-weight: 200;
  line-height: 87px;
  text-align: left;
  color: var(--red);
}
@media (max-width: 1100px) {
  .header__slider-subtitle {
    font-size: 48px;
    line-height: 54px;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .header__slider-subtitle {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .header__slider-subtitle {
    font-size: 22px;
    line-height: 28px;
    margin-top: 18px;
  }
}
.header .swiper {
  margin-top: 10px;
  width: 100%;
  overflow: visible;
}
.header .swiper::before {
  content: "";
  top: 0;
  right: -150px;
  position: absolute;
  background-image: url("../images/png/shadow.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  z-index: 3;
}
.header .swiper-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1100px) {
  .header .swiper-slide {
    padding-left: 15px;
  }
}
@media (max-width: 480px) {
  .header .swiper-slide {
    padding-left: 0;
  }
}
.header .swiper .swiper-button-prev {
  display: none;
}
.header .swiper .swiper-button-next {
  outline: none;
  width: 70px;
  height: 60px;
}
.header .swiper .swiper-button-next::after {
  content: "";
  width: 70px;
  height: 60px;
  background-image: url(../images/png/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1100px) {
  .header .swiper .swiper-button-next::after {
    width: 56px;
    height: 48px;
  }
}
@media (max-width: 1100px) {
  .header .swiper .swiper-button-next {
    width: 56px;
    height: 48px;
  }
}
@media (max-width: 768px) {
  .header .swiper .swiper-button-next {
    display: none;
  }
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main__bottom {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.main__bottom-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main__bottom-img {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__bottom-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__bottom-text {
  font-size: 8px;
  font-weight: 300;
  line-height: 8px;
  color: var(--text);
}
@media (max-width: 768px) {
  .main {
    margin-top: 80px;
  }
}

.btn {
  padding: 24px 38px;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn::before {
  z-index: 2;
  background: linear-gradient(68.92deg, #fcd384 36%, #ffedc7 75%, #fff6d6 100%);
}
.btn::after {
  z-index: 1;
  bottom: -3px;
  background: linear-gradient(64.11deg, #e1ba6f 66.63%, #fff6d6 100%);
}
.btn-text {
  z-index: 2;
}
@media (max-width: 1100px) {
  .btn {
    padding: 18px 32px;
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .btn {
    padding: 16px 26px;
    font-size: 10px;
  }
}

.products__list {
  display: flex;
  gap: 35px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products__list-item {
  background-color: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1019607843);
}
@media (max-width: 1100px) {
  .products__list {
    gap: 30px;
    row-gap: 36px;
  }
}
@media (max-width: 576px) {
  .products__list {
    gap: 18px;
    row-gap: 30px;
  }
}
.products .item {
  display: flex;
  flex-direction: column;
  width: calc(25% - 26.25px);
}
@media (max-width: 992px) {
  .products .item {
    width: calc(33.3333333333% - 20px);
  }
}
@media (max-width: 768px) {
  .products .item {
    width: calc(50% - 15px);
  }
}
@media (max-width: 576px) {
  .products .item {
    width: calc(50% - 9px);
  }
}
@media (max-width: 480px) {
  .products .item {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 360px) {
  .products .item {
    max-width: 260px;
  }
}
.products .item-img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1100px) {
  .products .item-img {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .products .item-img {
    height: 300px;
  }
}
@media (max-width: 360px) {
  .products .item-img {
    height: 260px;
  }
}
.products .item-title {
  font-family: Noto;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 15px;
  padding: 0 14px;
}
.products .item-line {
  width: 100%;
  height: 2px;
  background: radial-gradient(210.08% 3714.68% at -4.11% -56.85%, #fb3812 0%, #12143f 63.43%, #c0bfc9 100%);
  opacity: 0.1;
}
.products .item__link {
  display: flex;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
}
@media (min-width: 1024px) {
  .products .item__link:hover .item__link-title {
    transform: translateX(10px);
  }
  .products .item__link:hover .item__link-arrow {
    transform: translateX(10px);
  }
}
.products .item__link-arrow {
  transition: 0.3s all;
  width: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .item__link-title {
  transition: 0.3s all;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.135em;
  color: var(--brown);
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-title {
  font-size: 64px;
  font-weight: 200;
  color: var(--black);
}
@media (max-width: 992px) {
  .about-title {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .about-title {
    font-size: 40px;
  }
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 65px;
  gap: 80px;
  border: 1px solid var(--orange);
  -o-border-image: linear-gradient(to right, rgba(250, 57, 16, 0) 40%, #fa3910 70%);
     border-image: linear-gradient(to right, rgba(250, 57, 16, 0) 40%, #fa3910 70%);
  border-image-slice: 1;
  padding: 10px;
}
@media (max-width: 1100px) {
  .about-wrapper {
    justify-content: space-between;
    padding-left: 20px;
    gap: 0;
  }
}
@media (max-width: 992px) {
  .about-wrapper {
    flex-direction: column-reverse;
    gap: 70px;
    padding: 40px 0 70px;
  }
}
@media (max-width: 576px) {
  .about-wrapper {
    padding: 40px 10px 70px;
  }
}
.about__box {
  border: 1px solid var(--orange);
  background: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  width: 378px;
  height: 303px;
}
@media (max-width: 576px) {
  .about__box {
    flex-direction: column;
    align-items: center;
    max-width: 378px;
    width: 100%;
  }
}
.about__box-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about__box-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.about__box-img {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__box-text {
  font-size: 8px;
  font-weight: 300;
  line-height: 8px;
  color: var(--text);
}
.about__box-image {
  position: relative;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box-image img {
  position: absolute;
  width: 178px;
  height: 196px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__box-image .first {
  transform: translate(30px, -20px) scale(1.2);
}
.about__box-image .second {
  transform: translate(-10px, -60px) scale(1.2);
}
@media (max-width: 480px) {
  .about__box-image .first {
    transform: translate(30px, -20px) scale(1.1);
  }
  .about__box-image .second {
    transform: translate(-10px, -60px) scale(1.1);
  }
}
.about-features {
  display: flex;
  justify-content: flex-start;
}
.about .features__list {
  display: flex;
  gap: 110px;
  align-items: flex-end;
}
@media (max-width: 1100px) {
  .about .features__list {
    gap: 60px;
  }
}
@media (max-width: 576px) {
  .about .features__list {
    flex-direction: column;
    align-items: center;
  }
}
.about .features__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .features__item-value {
  color: var(--red);
  font-size: 64px;
  font-weight: 200;
}
@media (max-width: 768px) {
  .about .features__item-value {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .about .features__item-value {
    text-align: center;
  }
}
.about .features__item-title {
  color: var(--brown);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 768px) {
  .about .features__item-title {
    font-size: 10px;
  }
}

.category {
  padding-bottom: 50px;
  overflow-x: hidden;
}
.category-title {
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .category-title {
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .category-title {
    font-size: 48px;
  }
}
.category-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #fb3812 35%, #12143f 73.43%, #c0bfc9 100%);
}
.category-subtitle {
  font-size: 64px;
  font-weight: 200;
  text-align: center;
  color: var(--red);
  margin-top: 50px;
}
@media (max-width: 992px) {
  .category-subtitle {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .category-subtitle {
    font-size: 34px;
  }
}
.category .container {
  max-width: 1416px;
  margin: auto;
  position: relative;
}
.category-slider {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 1230px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .category-slider {
    margin-top: 35px;
    margin-bottom: 60px;
  }
}
.category-slider .swiper {
  width: 100%;
  overflow: visible;
}
@media (max-width: 480px) {
  .category-slider .swiper {
    max-width: 360px;
  }
}
.category-slider .swiper-slide {
  background: var(--white);
  box-shadow: 0px 150px 150px 0px rgba(251, 56, 18, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-slider .swiper-button-next2, .category-slider .swiper-button-prev2 {
  width: 70px;
  height: 61px;
}
@media (max-width: 768px) {
  .category-slider .swiper-button-next2, .category-slider .swiper-button-prev2 {
    display: none;
  }
}
.category-slider .swiper-button-next2::after, .category-slider .swiper-button-prev2::after {
  width: 70px;
  height: 61px;
  content: "";
  background-image: url("../images/png/arrow.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.category-slider .swiper-button-prev2::after {
  transform: rotate(-180deg);
}
.category .slider__buttons {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.category .slider__buttons-left, .category .slider__buttons-right {
  width: 70px;
  height: 61px;
}
.category .slider__buttons-left img, .category .slider__buttons-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category .slider__buttons-left {
  transform: rotate(-180deg);
}
.category__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category__slide-img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__slide-title {
  font-family: Noto;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 15px;
  padding: 0 14px;
}
.category__slide-line {
  width: 100%;
  height: 2px;
  background: radial-gradient(210.08% 3714.68% at -4.11% -56.85%, #fb3812 0%, #12143f 63.43%, #c0bfc9 100%);
  opacity: 0.1;
}
.category__link {
  display: flex;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
}
@media (min-width: 1024px) {
  .category__link:hover .category__link-title {
    transform: translateX(10px);
  }
  .category__link:hover .category__link-arrow {
    transform: translateX(10px);
  }
}
.category__link-arrow {
  transition: 0.3s all;
  width: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__link-title {
  transition: 0.3s all;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.135em;
  color: var(--brown);
}

.footer {
  background-color: #121212;
  padding: 120px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
}
.footer-title {
  color: var(--white);
  font-size: 45px;
  font-weight: 200;
}
.footer-subtitle {
  color: var(--white);
  font-size: 15px;
  font-weight: 200;
  line-height: 28px;
  margin-top: 25px;
  max-width: 400px;
}
.footer__btn {
  margin-top: 65px;
  width: 100%;
  max-width: 400px;
  padding: 33px 0;
  color: var(--brown);
  text-align: center;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 10px 30px 5px;
}
.footer__btn-text {
  z-index: 2;
}
.footer__btn::before, .footer__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__btn::before {
  z-index: 2;
  height: 100%;
  background: linear-gradient(69deg, #fcd384 36.44%, #ffedc7 61.13%, #fff6d6 79.51%);
}
.footer__btn::after {
  bottom: -5px;
  z-index: 1;
  background: linear-gradient(64.11deg, #e1ba6f 80%, #fff6d6 100%);
}
.footer-img {
  width: 350px;
  position: relative;
}
.footer-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 3;
}
.footer-img::before, .footer-img::after {
  content: "";
  position: absolute;
}
.footer-img::before {
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
  background: #fb3812;
  border-radius: 50%;
  filter: blur(100px);
}
.footer-img::after {
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 258px;
  background: #000;
  filter: blur(25px);
  width: 258px;
  height: 39px;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 10;
}

.filter.active {
  display: block;
}/*# sourceMappingURL=style.css.map */